<!-- Main navigation -->
    <!-- Full Page Intro -->
    <div class="view grey lighten-3">
        <!-- Content -->
        <div >
            <!--Grid row-->
            <div class="row align-items-center">
                <!--Grid column-->
                <div class="col-md-6">
                    <h1 class="mb-4">Encontramos o <span class="text-warning">curso de Spring Boot e Angular 9</span><br><span
                            class="cyan-text">mais completo</span> para você.</h1>
                    <p class="mb-4 pb-2 dark-grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quibusdam vitae, culpa qui officia deserunt laborum fuga similique mollit id quos aperiam
                        proident non ut rerum debitis.</p>
                    <button type="button" routerLink="/register-user" class="btn btn-primary btn-rounded btn-md ml-md-0">Vamos Começar</button>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6">
                    <img src="https://mdbootstrap.com/img/illustrations/hiker-man-colour.svg" alt="" class="img-fluid">
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Full Page Intro -->