<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" routerLink="/welcome"><strong>Curso - Spring Boot e
        Angular 9</strong></a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item ">
        <a class="nav-link">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link">
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
      </li>
      <li class="nav-item" dropdown>
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon='user' mdbDropdownToggle></mdb-icon>
            <span class="badge green">{{users?.length}}</span>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" [routerLink] = "['/list-user']"> Usuários <span class="badge green">{{users?.length}}</span></a>
              <a class="dropdown-item"  (click)="logout()"> Sair </a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>