<!-- Main navigation -->
<!-- Full Page Intro -->
<div class="view grey lighten-3">
  <!-- Content -->
  <div>
    <!--Grid row-->
    <div class="row align-items-center">
      <!--Grid column-->
      <div class="col-md-12">
        <h1 class="mb-4">Reenviar <span class="text-warning">confirmação</span><br><span class="cyan-text">de</span>
          usuário.</h1>
        <form #Form="ngForm">
          <div class="card">
            <div class="card-body z-depth-2 px-4">
              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="email" class="form-control" required [(ngModel)]="user.email" name="email"
                  #email="ngModel" mdbInput mdbValidate>
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                  Favor digitar o nome de usuário!
                </div>
                <label for="email">Email</label>
              </div>
              <div class="text-center my-3">
                <button class="btn btn-dark btn-block" (click)="resendToken()">Enviar</button>
              </div>
            </div>
          </div>
        </form>

        <div class="text-center my-3">
          <p>Ainda não está cadastrado ? <a [routerLink]="['/register-user']"> Registre-se</a></p>
          <p>Já fez o cadastro ? <a [routerLink]="['/login']"> Logar</a></p>

        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6">
        <img src="https://mdbootstrap.com/img/illustrations/hiker-man-colour.svg" alt="" class="img-fluid">
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Content -->
</div>
<!-- Full Page Intro -->